/* App.css */

.container {
    display: flex;
    flex-direction: column;
    background-color: #FDF8F5;
}

.header {
    background-color: #DDAF94;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;

}


.button {
    margin: 0 5px;
    text-decoration: none;
}

.button button {
    padding: 8px 16px;
    background-color: #266150;
    color: #FDF8F5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #4F4846;
}

.logout-button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #612626;
    color: #FDF8F5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #4F4846;
}


.post-button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #266150;
    color: #FDF8F5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-button:hover {
    background-color: #4F4846;
}

.edit-post-button {
    margin: 5px;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #266150;
    color: #FDF8F5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-post-button:hover {
    background-color: #4F4846;
}

.delete-button {
    margin: 5px;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #612626;
    color: #FDF8F5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #4F4846;
}


.hidden {
    display: none;
}

.view-post-button {
    width: 12vh;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #266150;
    color: #FDF8F5;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.view-post-button:hover {
    background-color: #4F4846;
}

.login-button {
    background: #266150;
    color: #FDF8F5;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.register-button {
    background: #4F4846;
    color: #FDF8F5;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.page-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.posts-container {
    margin: 5px;
    width: 85%;
    overflow-y: auto;
    padding: 10px;
    background-color: #E8CEBF;
    border-radius: 8px;
}


.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #4F4846;
    background-color: #DDAF94;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
    border: 1px solid #4F4846;
    background-color: #DDAF94;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #4F4846;
    margin-bottom: 8px;
}

.comment-header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #4F4846;
    margin-bottom: 8px;
}

.post-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.comment-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.post-content {
    font-size: 1.5em;
    border-top: 1px solid #4F4846;
    color: #4F4846;
    margin-bottom: 12px;
}

.comment-content {
    font-size: 1.5em;
    border-top: 1px solid #4F4846;
    color: #4F4846;
    margin-bottom: 12px;
}


.comments-section {
    margin-top: 20px;
    border-top: 1px solid #4F4846;
    padding-top: 10px;
}

.comments-heading {
    font-size: 1.2em;
    font-weight: bold;
    color: #4F4846;
    margin-bottom: 8px;
}

.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-item {
    font-size: 1em;
    color: #4F4846;
    margin-bottom: 8px;
}

.users-container {
    margin: 5px;
    width: 25%;
    overflow-y: auto;
    padding: 10px;
    background-color: #E8CEBF;
    border-radius: 8px;
}


.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    margin-bottom: 5px;
}

.user-link {
    width: 10vh;
    text-decoration: none;
    color: #FDF8F5;
    font-weight: bold;
    background-color: #DDAF94;
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-link:hover {
    background-color: #4F4846;
    text-decoration: underline;
}

.comment-link {
    width: 10vh;
    text-decoration: none;
    color: #4F4846;
    font-weight: bold;
    background-color: #DDAF94;
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-link:hover {
    background-color: #a88571;
    text-decoration: underline;
}


.login-page {
    background-color: #FDF8F5;
    padding: 20px;
    border-radius: 8px;
}

.login-input {
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    margin: 10px;
}


.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-info {
    border: 1px solid #4F4846;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.loading-message {
    margin-top: 20px;
    font-size: 18px;
}

.create-post-textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 12px;
    resize: vertical;
    box-sizing: border-box;
}


/* Additional styles as needed */
